* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

body {
  background-color: aquamarine;
}

/* Căn chỉnh màu chữ và padding cho link liên kết */
nav a {
  text-decoration: none;
  padding-left: 5px;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}

/* Điều chỉnh chiều cao drop menu qua thẻ a và cỡ chỡ  */
.drop-1-box a {
  font-size: 1em;
  line-height: 30px;
}

/* căn chỉnh nav */
nav {
  background-color: white;
  display: flex; /* Sắp xếp các phần tử bên trong nav*/
  justify-content: space-around;
  align-items: center;
  position: fixed; /* cố định menu ở phần top*/
  top: 0;
  width: 100%;
  height: 50px; /* Giới hạn chiều cao phần menu, nếu ko ht sẽ lấy theo chiều cao mặc đinh nội dung  */
}

/* Bỏ dấu với các ul, li và tạo màu nền  */
nav ul {
  list-style: none;
  background-color: white;
  display: none;
  position: relative; /* Postion:relative để căn chỉnh các drop menu
                      sử dụng position:absolute*/
}

/* Các li có độ rộng cố định */
nav li {
  width: 100px;
}

/* hover qua thẻ a thì đổi màu chữ */
nav a:hover {
  color: red;
}

/* Sắp xếp các item trong drop menu thành cột
căn chỉnh vị trí xuống phía dưới thanh menu */
.drop-1-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  visibility: hidden;
  border-top: 1px solid red;
}

/* hover menu thì hiện ra drop box */
.menu:hover .drop-1-box {
  visibility: visible;
}

/* dùng postion:relative để căn chỉnh các drop tiếp theo
sử dụng position:absolute*/
.drop {
  position: relative;
}

/* Sắp xếp các item trong drop menu thành cột
căn chỉnh vị trí sang bên cạnh */
.drop-2-box,
.drop-3-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: -1px;
  visibility: hidden;
}

/* hover li thì hiện ra drop box */
.drop-1-box li:hover .drop-2-box {
  visibility: visible;
}

/* hover li thì hiện ra drop box */
.drop-2-box li:hover .drop-3-box {
  visibility: visible;
}

.menu-icon-user {
  display: none;
}

/* CSS phần footer */
footer {
  width: 100%;
  background-color: rgb(111, 205, 173);
}

.footer-1 {
  display: flex;
  flex-direction: column;
  padding: 30px 50px 30px 50px;
}

.footer-address {
  color: white;
  padding: 10px 0 10px 0;
}

.footer-address-p1 {
  font-size: 1.3em;
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
  display: inline-block;
  height: 100%;
  font-size: 1.2em;
}

.footer-menu {
  border-top: 1px solid white;
  padding: 10px 0 10px 0;
}
.footer-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer a:hover {
  color: red;
}

.footer-icon {
  padding: 10px 0 10px 0;
  border-top: 1px solid white;
  display: flex;
  padding: 10px 0 10px 0;
}

.footer-icon i {
  padding: 10px 5px 0px 5px;
  color: white;
}

.footer-2 {
  background-color: rgb(111, 205, 173);
  text-align: center;
  padding: 5px;
  border-top: 1px solid white;
}

.footer-2-span2 {
  font-weight: bold;
}

/* Nội dung grid */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
}
.gird-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  gap: 10px;
  background-color: white;
  margin: 70px 10px 10px 10px;
  border-radius: 5px;
  min-height: 500px;
}

/* Code responsive */
/* Tablet */
@media screen and (min-width: 425px) {
  .gird-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 20px;
  }
}

/* Code responsive */
/* Laptop/Desktop */
@media screen and (min-width: 768px) {
  /*Hiện lại menu*/
  nav ul {
    list-style: none;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  .menu-icon-user {
    display: block;
  }

  .menu-icon-bars {
    display: none;
  }

  .gird-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 25px;
    height: 100%;
  }
  .footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-address {
    width: 40%;
  }
  .footer-menu {
    width: 30%;
    border: none;
    text-align: center;
  }
  .footer-icon {
    width: 20%;
    border: none;
  }
}
