* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

body {
  background-color: aquamarine;
}

/* Căn chỉnh màu chữ và padding cho link liên kết */
nav a {
  text-decoration: none;
  padding-left: 5px;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}

/* Điều chỉnh chiều cao thanh menu qua thẻ a link liên kết */
.menu > a {
  line-height: 50px;
}

/* Điều chỉnh chiều cao drop menu qua thẻ a và cỡ chỡ  */
.drop-1-box a {
  font-size: 1em;
  line-height: 30px;
}

/* căn chỉnh nav */
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Bỏ dấu với các ul, li và tạo màu nền  */
nav ul {
  list-style: none;
  background-color: white;
  display: flex;
  justify-content: center;
}

/* Giới hạn chiều cao phần menu, 
nếu ko ht sẽ lấy theo chiều cao mặc đinh nội dung 
đồng thời cho postion:relative để căn chỉnh các drop menu
sử dụng position:absolute*/
.container {
  height: 50px;
  position: relative;
}

/* Các li có độ rộng cố định */
nav li {
  width: 100px;
}

/* hover qua thẻ a thì đổi màu chữ */
nav a:hover {
  color: red;
}

/* Sắp xếp các item trong drop menu thành cột
căn chỉnh vị trí xuống phía dưới thanh menu */
.drop-1-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  visibility: hidden;
  border-top: 1px solid red;
}

/* hover menu thì hiện ra drop box */
.menu:hover .drop-1-box {
  visibility: visible;
}

/* dùng postion:relative để căn chỉnh các drop tiếp theo
sử dụng position:absolute*/
.drop {
  position: relative;
}

/* Sắp xếp các item trong drop menu thành cột
căn chỉnh vị trí sang bên cạnh */
.drop-2-box,
.drop-3-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 100%;
  top: -1px;
  visibility: hidden;
}

/* hover li thì hiện ra drop box */
.drop-1-box li:hover .drop-2-box {
  visibility: visible;
}

/* hover li thì hiện ra drop box */
.drop-2-box li:hover .drop-3-box {
  visibility: visible;
}

/* CSS phần footer */
/*  */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(123, 138, 150);
}

.footer-1 {
  display: flex;
  justify-content: space-around;
}

.footer-address {
  width: 40%;
  padding: 10px 0 10px 0;
  color: white;
}

.footer-address-p1 {
  font-size: 1.3em;
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  padding-left: 5px;
  color: white;
  display: inline-block;
  height: 100%;
  font-size: 1.2em;
}

.footer-menu {
  width: 30%;
  padding: 10px 0 10px 0;
}
.footer-menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

footer a:hover {
  color: red;
}

.footer-icon {
  width: 20%;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.footer-icon i {
  padding: 10px 5px 0px 5px;
  color: white;
}

.footer-2 {
  background-color: aqua;
  text-align: center;
  padding: 5px;
}

.footer-2-span2 {
  font-weight: bold;
}
